/* Start Global Rules */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}

/* Medium */
@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}

/* Large */
@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}
/* End Global Rules */
body {
   background-color: #e6e6e5;
   color: #1a1a19;
}
/* Start Header */
header {
   padding: 20px 0;
   text-align: center;
}
@media (max-width: 767px) {
   header h1 {
      font-size: 25px;
   }
}
/* End Header */
/* Start Inputs */
.inputs input {
   width: 100%;
   margin: 5px 0;
   border: none;
   outline: none;
   background-color: #ccceca;
   border-radius: 3px;
   padding: 15px;
   transition: 0.3s;
}
.inputs input:focus {
   transform: scale(1.05);
}
.prices {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
@media (max-width: 767px) {
   .prices  {
      display: block;
   }
}
.prices input {
   flex-basis: 19%;
}
.prices div {
   background-color: rgb(173, 20, 9);
   margin: 5px 0;
   color: white;
   border-radius: 3px;
   flex-basis: 19%;
}
@media (max-width: 767px) {
   .prices div {
      width: 50%;
      margin: 5px auto;
   }
}
.prices div p{
   padding: 11px 20px;
   border-radius: 3px;
   margin: 0;
}
.prices div p::before {
   content: "Total: ";
}
.inputs button {
   width: 100%;
   margin: 7px 0;
   background-color: #1c4f4a;
   color: white;
   border: none;
   outline: none;
   border-radius: 10px;
   padding: 10px ;
   transition: 0.3s;
   cursor: pointer;
}
.inputs button:hover {
   background-color: #11312f;
   letter-spacing: 1px;
}
/* End Inputs */
/* Start outputs */
.outputs input {
   width: 100%;
   margin: 5px 0;
   border: none;
   outline: none;
   background-color: #ccceca;
   border-radius: 3px;
   padding: 15px;
   transition: 0.3s;
}
.outputs input:focus {
   transform: scale(1.05);
}
.outputs .search-btns {
   display: flex;
   justify-content:space-between;
}
.outputs .search-btns button {
   width: 49%;
   margin: 7px 0;
   background-color: #1c4f4a;
   color: white;
   border: none;
   outline: none;
   border-radius: 10px;
   padding: 10px ;
   transition: 0.3s;
   cursor: pointer;
}
.outputs .search-btns button:hover {
   background-color: #11312f;
   letter-spacing: 1px;
}
.table table {
   margin: 15px 0;
   width: 100%;
   text-align: center;
}
@media (max-width: 767px) {
   .table {
      overflow-x: scroll;
   }
}
.table th,td {
   padding: 5px;
}
.table tbody:nth-child(even) {
   background-color: #dddddd;
}
.table table button {
   background-color: #1c4f4a;
   color: white;
   border: none;
   outline: none;
   border-radius: 10px;
   padding: 10px 20px;
   transition: 0.3s;
   cursor: pointer;
}
.outputs table button:hover {
   background-color: #11312f;
}
#deleteAll button{
   width: 100%;
   margin: 7px 0;
   background-color: #1c4f4a;
   color: white;
   border: none;
   outline: none;
   border-radius: 10px;
   padding: 10px ;
   transition: 0.3s;
   cursor: pointer;
}
#deleteAll button:hover {
   background-color: #11312f;
   letter-spacing: 1px;
}
/* End outputs */